:root {
  --herbal: #6b8e23;
  --brown: #4b2e2e;
  --sand: #f5f5dc;
  --white: #fafafa;
  --accent: #ffd700;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'lato';
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  /* background-color: #DFD1BA; */
}
